@model IEnumerable<ContosoUniversity.Models.SchoolViewModels.EnrollmentDateGroup>

@{
    ViewData["Title"] = "Student Body Statistics";
}

<h2>Student Body Statistics</h2>

<table>
    <tr>
        <th>
            Enrollment<br /> Date
        </th>
        <th>
            Students
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            <td>
                @item.StudentCount
            </td>
        </tr>
    }
</table>
<div>
    <br /><br />
    <P>
        Program created by Kirk Mortenson<br />
        PH: 702-203-5475<br />
        <a href="mailto:Kirk.Mortenson@gmail.com" target="_top">Kirk.Mortenson@gmail.com</a>
    </P>
</div>